<form class="loginForm" action="/login" method="post">
    <h3 style="text-align: center">Log In To Wander</h3>
    <label for="login-username-input">Username </label>
    <input id="login-username-input" type="text" name="username">

    <br>

    <label for="login-password-input">Password </label>
    <input id="login-password-input" type="password" name="password">

    <br>
    <div style="margin-top: 10px;" class="signupBtn">
        <button>Log In</button>
    </div>
</form>
