<form class="signupForm" action="/signup" method="post" enctype="multipart/form-data">
    <label for="signup-name-input">Name </label>
    <input id="signup-name-input" type="text" name="signupName">

    <br>

    <label for="signup-username-input">Username </label>
    <input id="signup-username-input" type="text" name="signupUsername">

    <br>

    <label for="signup-name-password">Password </label>
    <input id="signup-name-password" type="password" name="signupPassword">

    <br>

    <label for="signup-name-pic">Upload Your Picture! </label>
    <input id="signup-name-pic" type="file" name="signupProfilePic">

    <br>

    <button>Sign Up</button>
</form>
