<div class="row">
    <div class="col-sm-offset-3 usersOnline clearfix">
        <h2>Featured Users</h2>
        <% users.forEach( (oneUser) => { %>
        <div class="col-md-4">
            <img src="<%= oneUser.profilePic %>">
            <h4><%= oneUser.name %></h4>
        </div>
        <% }) %>
    </div>
</div>
