<div class="row homeForm">
    <form class="col-md-6 col-md-offset-3 " method="post" action="/">
        <div>
            <input class="searchLoc" name="searchLocation" placeholder="Where to?"></input>
            <button class="homeSearch"><img  width="30px" src="images/search.png"></button>
        </div>

    </form>
    <br>

</div>
<div class="row link">
    <div class="featuredlink">
        <a class="hvr-grow" href="/featured">See Where People Have Gone</a>
    </div>
    <div>
        <p style="text-align:center; color: #333; font-size: 11px;">To Demo App, use login Guest, password Guest.</p>
    </div>
</div>
