body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.profile-pic {
    text-align: center;
}
.profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.addtrip {
    background-color: lightblue;
    padding: 20px;
}
