$bodyfont: 'Didact Gothic', sans-serif;
$green: #82c672;

body  {
  font-family: $bodyfont;
  background: url(../images/bg.png) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    overflow-x: hidden;
}

.poop {
    height: 700px;
}

.font {
    font-family: $bodyfont;
}

.row { margin: 0!important; padding: 0 }

h2 {
    font-size: 1em;
    font-family: $bodyfont;
}

.trips, .hello h2 {
    font-family: $bodyfont;
}

a {
  color: #00B7FF;
}

.container-fluid {
    clear: both;
}

nav {
    ul {
        float: right;

        li {
            list-style-type: none;
            display: inline;
            text-align: right;
            margin-right: 30px;
            div {
                height: 55px;
                display: table-cell;
                vertical-align: middle;
            }
            a {
                color: #484848;
                font-family: $bodyfont;
            }
            a:hover {
                text-decoration: none;
                color: #757575;
            }
        }
    }
}


nav ul li:hover {
    border-bottom: 2px solid ;
}


.logo {
    img {
        width: 75px;
        padding: 10px;
        margin: 5px 10px;
    }
}

.homeForm {
    margin: auto;
    font-family: $bodyfont;
    margin-top: 4%;
}

.searchLoc {
    background-color: transparent;
    border: none;
    border-bottom: #484848 solid 2px;
    font-size: 56px;
    outline: none;
    width: 95%;
}

.homeSearch {
    background-color: transparent!important;
    border: none;
    color: #333;
    img {
        margin-top: -18px;
        margin-left: -52px;
    }
}

.usersOnline {
    img {
        width: 110px;
        height: 110px;
        border-radius: 50%;
    }
    margin-top: 60px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    margin: auto;
}

.featuredlink {
    font-family: $bodyfont;
    text-align: center;
    margin-top: 25px;
    a {
        color: $green;
    }
    a:hover {
        color: $green;
        text-decoration: none;
    }
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }

.userPic {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 2px solid white;
}

.profile-pic {
    text-align: center;
}
.profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;

}
.expandtripdiv {
    width: 120px;
    background: #82c672;

    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 7px;
    margin: 10px 5px;
    transition: 0.5s ease;
    font-size: 16px!important;
}
.expandtripdiv:visited {
    color: white;
    text-decoration: none!important;
}


.expandtripdiv:hover {
    text-decoration: none;
    color: white;
}


.addtrip {
    font-family: $bodyfont;
    background-color: white;
    width: 80%;
    margin: auto !important;
    padding: 20px;
    display: none;
    color: $green;
    font-size: 26px;
    input, textarea  {
        border: none;
        border-bottom: 3px solid $green;
        outline: none;
        width: 90%;
        margin: 0px 20px;
    }
    textarea {
        margin-top: 50px;
         border: 3px solid $green
    }
 }


.signupForm, .loginForm {
    font-family: $bodyfont;
    background: rgba(255, 255, 255, 0.4);
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 400px;
	margin: auto;
    label {
        margin-top: 10px;
        margin-bottom: none;
    }
    input {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 3px;
        width: 100%;
        box-sizing: border-box;
        color: #2C3E50;
        font-size: 13px;
    }
    button {
        width: 100px;
    	background: #82c672;
	    font-weight: bold;
	    color: white;
	    border: 0 none;
	    border-radius: 1px;
	    cursor: pointer;
	    padding: 10px 5px;
	    margin: 10px 5px;
    }
}

.tripform, #adddest, .buttonnnn button {

    font-weight: bold;
    color: $green;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    font-size: 16px;
}
#adddest button {
    width: 100px;
    background: #82c672;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    float: right;
    font-size: 12px;
}

.buttonnnn button {
    background-color: #82c672;
    text-align: center;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    font-size: 16px;
}

.addtrip input, .addtrip textarea {
    color: $green;
}

#adddest {
    font-family: $bodyfont;
    margin-top: 75px;
     input, textarea {
        border: none;
        border-bottom: 3px solid $green;
        outline: none;
        width:  60%;
        margin: 10px 20px;
    }
    border: 1px solid rgb(220, 224, 224) ;
}
.signupBtn {
    text-align: center;
}

.tripform {
    padding: 20px;
}

.tripThumb {
    width: 100%;
}

.tripRec {
    background-color: #fff;
    transition: box-shadow 250ms;
    min-height: 200px!important;
    text-align: center;
    border: 1px #dce0e0 solid !important;
}

.tripdesc {
    text-align: center;
    h2, p {

        margin: 6px 20px 3px 20px;
    }
    h2 {
        color: $green;
        font-size: 2em;
    }
}
.trips {
    padding: 20px 75px;
}

.tripblock {
    margin-bottom: 30px;
    height: 350px;
}

.hr {
    border-bottom: 1px #dce0e0 solid !important;
    width: 55%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.deletebtn {
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.32);
    background-color: white;
    border: none;
    position: relative;
    top: 15px;
    width: 37px;
    height: 37px;
    outline: none;
}

.hidden {
    display: none;
}

.tripthumbup {
    cursor: pointer;
}



.cutpic {
    img {
        margin-top: -100px;
    }
    height: 500px;
    overflow-y: hidden;
}

.tripContainer {
    font-family: $bodyfont;
    background-color: white;
    padding: 25px;
    width: 85%;
    margin: auto!important;
}

#map {
  width: 85%;
  height: 450px;
  margin: auto!important;
  text-align: center;
  display: block;
}
