body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
    font-size: 1em;
}

a {
  color: #00B7FF;
}

.profile-pic {
    text-align: center;
}
.profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.addtrip {
    background-color: lightblue;
    display: none;
}

.tripform {
    padding: 20px;
}

.tripThumb {
    width: 100%;
    max-width: 300px;
}

.tripRec {
    padding: 10px;
    border: 1px solid rgba(74,74,74,0.075);
    background-color: #fff;
    transition: box-shadow 250ms;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    min-height: 200px!important;
    text-align: center;
    height: 275px;
}

.tripdesc {
    text-align: left;
}
.trips {
    padding: 20px 75px;
}

.tripblock {
    margin-bottom: 30px;

}
