
        <div class="row individaltrip">
            <div class="cutpic">
                <img style="width: 100%;" src="<%= trip.tripThumbnail %>">
            </div>
        </div>
        <div class="tripContainer">
            <div class="row">
                <h2><%= trip.name %> </h2>
            </div>
        </div>
